<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({
            appToken: '0eylebnc5mjasq5cclclquh18',
            Messages: 'Cowabunga',
            customText: {
                        headerText: 'Heb je hulp nodig?',
                        inputPlaceholder: 'what would you like to know?',
                        sendButtonText: 'send',
        introductionText: 'Wij maken verzekeren gemakkelijk en helpen je met kiezen en afsluiten. Heb je een vraag? Is er wat gebeurd?',
        introAppText: 'Laat een berichtje achter via je favoriete app - we horen het graag van je.',
        settingsText: 'Laat je email adres achter en we nemen contact met je op.',
                    },
            soundNotificationEnabled: false,
            emailCaptureEnabled: true,
        });
    </script>
</head>
<body>
    <h2>Independer</h2>
</body>
</html>
