<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({
            appToken: '0eylebnc5mjasq5cclclquh18',
            Message: 'Cowabunga',
            customText: {
                        headerText: 'Heb je hulp nodig?',
                        inputPlaceholder: 'what would you like to know?',
                        sendButtonText: 'send',
                    },
            soundNotificationEnabled: false,
            emailCaptureEnabled: true,
        });
    </script>
</head>
<body>
    <h2>Independer</h2>
</body>
</html>
